<div class="row">
<div class="col-md-12">
	<!-- BEGIN VALIDATION STATES-->
	<div class="portlet box purple">
		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-gift"></i>Add_color
			</div>
			<div class="tools">
				<a href="javascript:;" class="collapse">
				</a>
				<a href="#portlet-config" data-toggle="modal" class="config">
				</a>
				<a href="javascript:;" class="reload">
				</a>
			</div>
		</div>
		<div class="portlet-body form add-page">

					<div class="left-body">
					    <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
							<thead>
							<tr>
								<th>
									  #
								</th>
								<th width="300">
									  Color
								</th>
												
								<th width="600">
									 Actions
								</th>
							</tr>
							</thead>
							<tbody>
							<tr ng-repeat="color in colors">
								<td>
									
									{{$index+1}}
								</td>
								<td>
									{{color.name}}
									
								</td>
								<td>
									<!-- <a class="edit btn default btn-xs purple" ng-click="editPage(pl.id)">
										<i class="fa fa-edit"></i>
										Edit 
									</a>	 -->				
									<a class="btn default btn-xs black delete" ng-click="deleteColor(color.id)">
										<i class="fa fa-trash-o"></i>
										Delete 
									</a>
								</td>
							</tr>
							
							</tbody>
							</table>
					</div>
					



					<div class="right-body">
					 <form name="myForm" id="form_sample_1" class="form-horizontal">
						<div class="form-body">
							<div class="alert alert-danger display-hide">
								<button class="close" data-close="alert"></button>
								You have some form errors. Please check below.
							</div>
							<div class="alert alert-success display-hide">
								<button class="close" data-close="alert"></button>
								Your form validation is successful!
							</div>		    
							
								<label class="addpage title">
				                  <span class="form-att">Name</span>
				                  <input class="input page_Gender" name="name" ng-model="name" type="text"></label>

				                  <label class="addpage title">
				                  <span class="form-att">RGB</span>
				                  <input class="input page_Gender" name="RGB" ng-model="RGB" type="text"></label>		
								
								<label class="addpage title">
				                  <span class="form-att">Hue</span>
				                  <input class="input page_Gender" name="Hue" ng-model="Hue" type="text"></label>	<br><br>	
								
		                        <label class="addpage submit-but">
									<input class="input submit btn blue btn-outline" name="submit" value="Add" type="submit" ng-click="addColor()">
								</label>
								
						</div>
					</form>
				</div>
				</div>
			</div>
		</div>
	</div>


