<div class="row">
	<div class="col-md-12">
	
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet box purple">
			<div class="portlet-title">
				<div class="caption about-text title-page">
					<h4>
						<i class="fa fa-check icon-info"></i>{{_page.title}}
					</h4>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-toolbar">
					<div class="row">
						<div class="col-md-12">
							<p class="margin-top-20" ng-bind-html="_page.description"> 
								
                            </p>
							
						</div>
						
					</div>
				</div>

				
			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>