<div class="container">
    <div class="row">
		<div class="span12">
			<form class="form-horizontal" action='' method="POST">
			  <fieldset>
			   
			    <div class="control-group">
			     
			      <label class="control-label">FirstName</label>
			      <div class="controls">
			        <input type="text" id="name" name="firstname" ng-model="firstname" placeholder="" class="input-xlarge">
			      </div>
			    </div>
			    <div class="control-group">
			      
			      <label class="control-label" >LastPrice</label>
			      <div class="controls">
			        <input type="text" id="price" name="lastname" ng-model="lastname" placeholder="" class="input-xlarge">
			      </div>
			    </div>
			    <div class="control-group">
			      
			      <div class="controls">
			        <button class="btn btn-success" ng-click="addPerson()">Add</button>
			      </div>
			    </div>
			  </fieldset>
			</form>
		</div>
	</div>
</div>
